asgiref==3.10.0
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
channels==4.1.0
charset-normalizer==3.4.4
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
Django==5.2.8
et_xmlfile==2.0.0
http_ece==1.2.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
msgpack==1.1.2
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
propcache==0.4.1
py-ubjson==0.16.1
py-vapid==1.9.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2025.2
pywebpush==1.14.0
requests==2.32.5
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
urllib3==2.5.0
zope.interface==8.1.1

whitenoise==6.8.2
mysqlclient==2.2.6
