<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Inválido - Monitoria Porto Restrito</title>
  <link rel="icon" type="image/png" href="{% static 'imagens/icone.png' %}">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-xl shadow-xl w-full max-w-sm border border-gray-200">
        <div class="text-center mb-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Protonmail-logo.svg" alt="Logo" class="mx-auto w-14 h-14">
            <h2 class="text-xl font-semibold mt-3 text-gray-700">Ooops!</h2>
            <div class="mt-4 p-3 bg-red-100 text-red-800 rounded-md text-sm">
                Parece que a rota que você estava procurando não existe mais<br>
                ou seu link de redefinição está expirado.
            </div>
        </div>

        <div class="text-center mt-6">
            <a href="{% url 'password_reset' %}" class="inline-block w-full bg-cyan-600 hover:bg-cyan-700 transition duration-300 text-white font-semibold py-2 rounded-md">
                Solicitar Novo Link
            </a>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'login' %}" class="text-sm text-cyan-600 hover:underline">Voltar para o login</a>
        </div>
    </div>
</body>
</html>